venv/Lib/site-packages/_cffi_backend.cp39-win_amd64.pyd
venv
bot/env.py
bot/tmp/
bot/tmp/*
bot/tmp/*.pdf
bot/tmp/*.txt
bot/tmp/*.json
bot/tmp/*.csv
bot/tmp/*.xlsx
bot/tmp/*.xls
bot/tmp/*.docx
bot/tmp/*.doc
bot/tmp/*.pptx
bot/tmp/*.ppt
tmp/3f81a5a9-2743-4782-ade6-8389e0f5faf3.pdf
tmp/15989295-6878-421a-abe3-2094497603c4.pdft 
tmp/
tmp/*
tmp/*.pdf
tmp/*.txt
tmp/*.json
tmp/*.csv
tmp/*.xlsx
tmp/*.xls
tmp/*.docx
tmp/*.doc
test_bot_skills.py
.gitignore
.gitignore
.gitignore
test_resume_handler.py
.gitignore
.gitignore
test_bot_startup.py
test_real_cv.py
test_router_registration.py
test_skills.py
bot/__pycache__
bot/handlers/__pycache__
bot/handlers/callbacks/__pycache__
bot/handlers/resume/__pycache__
bot/keyboard/__pycache__
bot/main/__pycache__
bot/main/__pycache__
bot/core/__pycache__
bot/core/skills_extractor/__pycache__
bot/core/skills_extractor/skills_extractor.py
bot/core/skills_extractor/skills_extractor.py
core/__pycache__/__init__.cpython-39.pyc
core/__pycache__/pdf_parser.cpython-39.pyc
bot/handlers/__pycache__/resume.cpython-39.pyc
bot/__pycache__/main.cpython-39.pyc
core/__pycache__/skills_extractor.cpython-39.pyc
bot/handlers/__pycache__/resume.cpython-39.pyc
bot/__pycache__/main.cpython-39.pyc
bot/__pycache__/main.cpython-39.pyc
.env
Dockerfile
.gitignore
